---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% assign teaching_by_year = site.teaching | sort: "date" | reverse | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in teaching_by_year %}
  <h2 class="archive__subtitle">{{ year.name }}</h2>
  <ul class="archive__list">
    {% for post in year.items %}
      <li class="archive__list-item">
        <p>
          <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a><br>
          <span>{{ post.type }}</span>{% if post.venue %}, <i>{{ post.venue }}</i>{% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
